Laura Rodriguez 07-11-24

In [2]:
import pandas as pd
datos = pd.read_excel("datosCTL.xlsx", sheet_name="8c").set_index("Unnamed: 0")
datos

,Tijuana,Mérida,GDL,México,León,Monterrey,Tapachula,Chihuahua
Unnamed: 0,,,,,,,,
Tijuana,0,4180,2306,2848,2529,2409,4005,1583
Mérida,4180,0,1874,1332,1719,2046,1062,2819
GDL,2306,1874,0,542,223,789,1699,1202
México,2848,1332,542,0,389,933,1157,1487
León,2529,1719,223,389,0,711,1544,1140
Monterrey,2409,2046,789,933,711,0,1803,826
Tapachula,4005,1062,1699,1157,1544,1803,0,2644
Chihuahua,1583,2819,1202,1487,1140,826,2644,0

In [72]:
import numpy as np

ciudades = list(datos.columns)
T = 1000
R1 = list(np.random.choice(ciudades, size=len(ciudades), replace=False))
R1

['Tijuana',
 'México',
 'León',
 'Mérida',
 'Chihuahua',
 'Tapachula',
 'GDL',
 'Monterrey']

In [56]:
pos = np.random.choice([0,1,2,3,4,5,6,7], 2, replace= False)
R2 = R1.copy()
R2[pos[0]],R2[pos[1]]= R2[pos[1]], R2[pos[0]]
R2

['Chihuahua',
 'Tijuana',
 'GDL',
 'Mérida',
 'Monterrey',
 'León',
 'México',
 'Tapachula']

In [78]:
lugares = ['Tijuana', 'Mérida', 'GDL', 'México', 'León', 'Monterrey', 'Tapachula', 'Chihuahua']
D1 = lugares(datos, R1[0], R1[1], R1[2], R1[3], R1[4], R1[5], R1[6], R1[7])
D2 = lugares(datos, R2[0], R2[1], R2[2], R2[3], R2[4], R2[5], R2[6], R2[7])
D1, D2

TypeError: 'list' object is not callable